.bib {
    margin-block: 1em;
}

.bib-title {
    display: block;
    font: inherit;

    padding: 0;
    margin: 0;

    margin-block: 1em;
}

.bib-title {
    padding-left: 0.5in;
    text-indent: -0.5in;
}
.bib-anno {
    padding-left: 1in;
}
.bib-anno {
    // Feels pretentious
    line-height: 2;
}

.bib-heading {
    display: inline;
    padding: 0;
    margin: 0;
    font: inherit;
}

.bib-title {
    padding-left: min(0.2 * (100vw - 412px), 0.5in);
    text-indent: max(-0.2 * (100vw - 412px), -0.5in);
}
.bib-anno {
    padding-left: min(0.2 * (100vw - 412px), 1in);
    line-height: clamp(2em, 2em + 0.2 * (100vw - 412px), 2.5em);
}
