.bib {
    margin-block: 1em;
}

.bib-title {
    display: block;
    font: inherit;

    padding: 0;
    margin: 0;

    margin-block: 1em;
}

.bib-heading {
    display: inline;
    padding: 0;
    margin: 0;
    font: inherit;
}

.bib-title {
    padding-left: calc(0.2 * (100vw - 400px));
    text-indent: calc(-0.2 * (100vw - 400px));
}
.bib-anno {
    padding-left: calc(0.2 * (100vw - 412px));
    line-height: calc(2em + 0.2 * (100vw - 412px));
}

@media screen and (max-width: 400px) {
    .bib-title {
        padding-left: 0in;
        text-indent: 0in;
    }
    .bib-anno {
        padding-left: 0in;
        line-height: 1.5em;
    }
}

@media screen and (min-width: 500px) {
    .bib-title {
        padding-left: 0.5in;
        text-indent: -0.5in;
    }
    .bib-anno {
        padding-left: 1in;
        // Feels pretentious
        line-height: 2;
    }
}
